@model ReleaseTrailers

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <p class="card-text">@Model.Summary</p>
        <a href="https://www.youtube.com/channel/UC8ZGymAvfP97qJabgqUkz4A" class="btn btn-outline-primary">Learn More</a>
    </div>
</div>