@{
	ViewData["Title"] = "Account Registration - Success";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Successful</h2>
<p>Thank you, @Model.Name</p>
<p>You will be sent newsletters to the email provided: <strong>@Model.Email</strong></p>