@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Magic The Gathering News Site</h1>
    <p>
        Magic: The Gathering, also Magic or MTG, is a strategy card game created by Richard Garfield in 1993, and published by Wizards of the Coast. Magic holds the title of "Most Played Trading Card Game", and is currently published in English, French, German, Italian, Japanese, and Spanish. Magic is not a single game but rather a game system that shares a set of rules and game components (mainly cards). It can be played in many different formats.
    </p>
</div>
<div>
    <a class="btn btn-outline-primary" href="https://magic.wizards.com/en" style="margin-left:500px">Click for Official MTG Site</a>
</div>
